.vscode/
debug/
target/
crates/kphis-api-pdf/test_output/
crates/kphis-api-router/volume/images/
crates/kphis-api-router/volume/thumbs/
crates/kphis-api-router/volume/app_assets.bin
docker/volume/
tutorial/kphis-book/
tutorial/book/
tutorial/src/
volume/app_assets.bin
volume/cert/
volume/logs/
volume/images/*/*/*
volume/thumbs/*/*/*
!volume/images/009/99/91NWC10PTESHVK95PNAAA.webp
!volume/images/009/99/91NWC10PTESHVK95PNAAB.webp
!volume/images/009/99/91NWC10PTESHVK95PNAAC.webp
!volume/thumbs/009/99/91NWC10PTESHVK95PNAAA.webp
!volume/thumbs/009/99/91NWC10PTESHVK95PNAAB.webp
!volume/thumbs/009/99/91NWC10PTESHVK95PNAAC.webp
volume/config/debug.toml
volume/pwa/book/
volume/pwa/snippets/
volume/pwa/client.js
volume/pwa/client_bg.wasm
volume/pwa/sw.js
volume/pwa/templates/data.json
volume/pwa/typst_worker.js
volume/pwa/typst_worker_bg.wasm
volume/pwa/drg_worker.js
volume/pwa/drg_worker_bg.wasm
volume/pwa/local
cargo-tree.txt
Cargo.lock
**/wasm-pack
**/*.rs.bk
**/*.pdb
**/*.7z
**/*.br
**/*.gz
**/*.zip
**/*.tar
